.box{
  color: black;
  height: 200px;
  width: 200px;
  -webkit-filter: drop-shadow(15px 15px 15px #222);
  filter: drop-shadow(15px 15px 15px #222);
}

@keyframes spinner {
  from {transform:rotate(0deg);}
  to {transform:rotate(10000deg);}
}

.no-drag {
  -webkit-user-drag: none;
}

.partyMode {
  animation-name: spinner;
  animation-iteration-count: 10;
  animation-duration: .5s;
}
