

.parentContainer {
  background-image: url('/wood.jpeg');
  display: grid;
  grid-template-columns: 300px auto 10%;
  grid-template-rows: 15% auto 15%;
}

.buttonsContainer {
  grid-row: 3/4;
  grid-column: 1/4;
}

.buttonsRow {
  display: grid;
  grid-column: (auto, repeat(3));
  grid-row: auto;
}
.controlButton {
  width: 300px;
  margin: 0 auto;
}
.saveButton {
grid-column: 1/2
}

.shareButton {
  grid-column: 2/3;
}

.resetButton {
  grid-column: 3/4;
}
